{% extends 'layout.html' %}

{% block content %}
<div class="container mt-3">
    <div class="bg-light border fw-bold p-3">
        新建用户
    </div>
    <div class="border">
        <form method="post">
            {% csrf_token %}
            <div class="row mt-4">
                <label class="col-sm-1 col-form-label fw-bold text-end">姓名</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="姓名" autocomplete="off" name="user">
                </div>
            </div>
            <div class="row mt-4">
                <label class="col-sm-1 col-form-label fw-bold text-end">密码</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" placeholder="密码" autocomplete="off" name="pwd">
                </div>
            </div>
            <div class="row mt-4">
                <label class="col-sm-1 col-form-label fw-bold text-end">年龄</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="年龄" autocomplete="off" name="age">
                </div>
            </div>
            <div class="row mt-4">
                <label class="col-sm-1 col-form-label fw-bold text-end">余额</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="余额" autocomplete="off" name="ac">
                </div>
            </div>
            <div class="row mt-4">
                <label class="col-sm-1 col-form-label fw-bold text-end">入职时间</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="入职时间" autocomplete="off" name="ctime">
                </div>
            </div>
            <div class="row mt-4">
                <label class="col-sm-1 col-form-label fw-bold text-end">性别</label>
                <div class="col-sm-10">
                    <select class="form-control" name="gd">
                        {% for item in gender_choices %}
                        <option value="{{ item.0 }}">{{ item.1 }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row mt-4">
                <label class="col-sm-1 col-form-label fw-bold text-end">部门</label>
                <div class="col-sm-10">
                    <select class="form-control" name="dp">
                        {% for item in depart_list %}
                        <option value="{{ item.id }}">{{ item.title }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-10 offset-sm-1 pt-3 pb-4">
                    <button type="submit" class="btn btn-primary">保存</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}